
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>

<div>
    <h1>
        Author: Andrzej Mróz:
        Online store with books for developers
    </h1>
    </div>