
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>
<div class="small-container">
    <div class="row">
        <div>
            <h1>
                Author: Andrzej Mróz:
                Online store with books for developers
                <br />
                <br />
                <br />

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at massa in urna dapibus semper. Duis orci libero, pellentesque et massa et, viverra sollicitudin massa. Aliquam orci eros, aliquam eu lacus at, consectetur dapibus neque. Etiam consectetur augue a erat sagittis dictum. Phasellus lectus enim, rhoncus convallis condimentum quis, tristique id velit. Aenean accumsan, orci eu pulvinar condimentum, ligula augue lacinia ipsum, et dignissim lectus magna eu dolor. Donec a tempor nibh, feugiat laoreet ligula. Donec pulvinar erat ex, eu cursus odio ornare sit amet. Phasellus sem augue, dictum eu convallis at, blandit at neque. Duis vitae auctor felis. Cras vitae feugiat massa, vel posuere mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam pellentesque nisi ac commodo imperdiet.

                In euismod tincidunt tortor at fermentum. Fusce ac lacinia orci. Duis vitae venenatis nisl, in egestas tortor. Proin quis elementum nibh. Sed ac ullamcorper ligula. Sed ullamcorper enim non risus faucibus porta quis ut magna. Duis lacinia purus vel neque blandit placerat. Donec vel massa urna. Donec ac venenatis ex, eget rutrum dolor. Phasellus laoreet tempor odio id vehicula. Proin sagittis, lorem ut tempor eleifend, turpis neque venenatis ex, non vestibulum purus erat id leo.

                Proin pharetra placerat molestie. Aliquam libero metus, mollis vitae tellus id, efficitur varius justo. Etiam rhoncus ante vel mi convallis commodo. Vestibulum accumsan, erat vitae ullamcorper mollis, ligula eros feugiat quam, id vehicula augue nunc eget augue. Ut consequat, turpis vel scelerisque bibendum, ante mi tincidunt ipsum, eget cursus libero velit quis nisl. Fusce consectetur pulvinar consectetur. Donec finibus scelerisque mauris, vitae varius est dictum eget. Praesent tincidunt elit nec arcu tempus laoreet. Sed egestas, dui at posuere rutrum, magna velit auctor nisi, at molestie nulla orci non nunc. Mauris ut facilisis urna, nec ullamcorper libero. Suspendisse mauris orci, commodo ut nisl ac, laoreet placerat diam. Donec lobortis ornare ullamcorper. Integer felis tellus, malesuada vitae lacus sit amet, pharetra facilisis augue.

                Nam suscipit convallis dui, quis iaculis nibh eleifend et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec accumsan, mi a iaculis sollicitudin, nisl libero pellentesque tortor, nec tristique nisl enim quis leo. Donec mi odio, lacinia non ullamcorper id, pulvinar vulputate massa. Phasellus sodales rutrum accumsan. Donec tristique imperdiet tellus. Sed nec pulvinar arcu. Integer dignissim felis nec turpis vulputate pulvinar. Nam sit amet sollicitudin sapien. Sed ultricies enim ex, quis pellentesque dolor laoreet sed. Nam urna sem, egestas vel ipsum non, rhoncus porta eros. Quisque pulvinar, leo a elementum pellentesque, dui quam dapibus magna, et maximus leo sem in augue.

                Nullam laoreet libero lorem, in luctus justo dictum eu. Etiam eu velit at arcu dignissim consectetur. Donec malesuada justo orci, sagittis condimentum arcu suscipit ut. Praesent tortor orci, feugiat ac elementum et, dignissim in augue. Vivamus at nulla vehicula, molestie nisl quis, bibendum quam. Aliquam pharetra pharetra lorem eu dapibus. Sed scelerisque urna ligula. Nulla eget nisi ex. Nam commodo lacinia dui, quis consectetur augue euismod nec.
            </h1>
        </div>
    </div>
</div>